body {
  text-align: center;
}

.col-md,
.row {
  padding: 0;
  margin: 0;
}

.main-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  background-image: linear-gradient(
    to top,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
  padding: 0;
  margin: 50px auto;
  border-radius: 10px;
}

.card-body {
  padding: 25px 0 50px;
}

.card {
  background-color: transparent;
}

.current-location {
  font-size: 30px;
}

h5 {
  text-align: center;
  margin-top: 50px;
}

h6 {
  color: #f521a9;
  font-size: 25px;
  font-weight: bold;
}

.emoji-current-weather {
  font-size: 95px;
  margin: 0;
}

.current-temperature {
  font-size: 64px;
  display: inline;
}

span {
  position: relative;
  top: -23px;
}

.button-celsius,
.button-fahrenheit {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  padding: 0;
}

.button-celsius:hover,
.button-fahrenheit:hover {
  text-decoration: underline;
}

.units .active {
  color: #4f439a;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

button:focus {
  outline: none;
}

.time-date {
  padding: 50px 0 20px;
  font-size: 20px;
}

.search-bar {
  border-color: mediumslateblue;
  border-width: 3px;
  border-radius: 5px;
  box-shadow: rgb(107, 82, 125) 10px 10px 10px;
  padding: 15px;
  font-family: monospace;
  min-width: 250px;
}

.search-location-button {
  background-color: mediumslateblue;
  border-radius: 5px;
  border-color: mediumslateblue;
  border-width: 3px;
  outline: none;
  font-size: 32px;
  padding: 1px 6px 1px;
  position: relative;
  top: 8px;
}

.search-location-button:hover {
  background-color: transparent;
  border-radius: 5px;
  transition: ease-in-out 250ms;
}

i {
  color: slateblue;
}

i:hover {
  color: #fff;
}

.button-location {
  margin-top: 50px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 30px;
}

.button-location:hover {
  background-color: transparent;
  border-radius: 5px;
  transition: ease-in-out 250ms;
}

.emoji-6d-forecast {
  font-size: 30px;
}

/* styling for devices less than 768px */
@media (max-width: 768px) {
  .main-container {
    margin: 0;
    max-width: 100%;
    border-radius: 0;
  }

  .card-group > .card {
    margin-bottom: 0;
  }
}
